<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FBSMoney"
        tools:targetApi="31">
        <activity
            android:name=".ChatWith"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.FundsTransfar"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.FundsAdd"
            android:exported="false" />
        <activity
            android:name=".Filtter"
            android:exported="false" />
        <activity
            android:name=".Transaction.Transaction"
            android:exported="false" />
        <activity
            android:name=".Beneficent.Beneficent"
            android:exported="false" />
        <activity
            android:name=".Referral"
            android:exported="false" />
        <activity
            android:name=".Card"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.Balance"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.withdraw_succ"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.BankAccount"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.AddBank"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.WalletDetail_succ"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.WalletDetail"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.withdraw"
            android:exported="false" />
        <activity
            android:name=".AccountWallet.Wallet"
            android:exported="false" />
        <activity
            android:name=".SendMoney.Success"
            android:exported="false" />
        <activity
            android:name=".SendMoney.MoneyDetails"
            android:exported="false" />
        <activity
            android:name=".SendMoney.AddBeneficiary"
            android:exported="false" />
        <activity
            android:name=".SendMoney.EnterAmount"
            android:exported="false" />
        <activity
            android:name=".login.CreateScuss"
            android:exported="false" />
        <activity
            android:name=".login.CreatePassword"
            android:exported="false" />
        <activity
            android:name=".login.OtpFailed"
            android:exported="false" />
        <activity
            android:name=".login.Otp"
            android:exported="false" />
        <activity
            android:name=".login.VerifyEmail"
            android:exported="false" />
        <activity
            android:name=".login.Login3"
            android:exported="false" />
        <activity
            android:name=".login.Login2"
            android:exported="false" />
        <activity
            android:name=".login.Login1"
            android:exported="false" />
        <activity
            android:name=".signup.VerifyScuss"
            android:exported="false" />
        <activity
            android:name=".signup.VerifyError"
            android:exported="false" />
        <activity
            android:name=".signup.VerifyPending"
            android:exported="false" />
        <activity
            android:name=".signup.BackPhoto2"
            android:exported="false" />
        <activity
            android:name=".signup.BackPhoto1"
            android:exported="false" />
        <activity
            android:name=".signup.FrontPhoto2"
            android:exported="false" />
        <activity
            android:name=".signup.FrontPhoto1"
            android:exported="false" />
        <activity
            android:name=".signup.Signup3"
            android:exported="false" />
        <activity
            android:name=".signup.Signup2"
            android:exported="false" />
        <activity
            android:name=".signup.Signup1"
            android:exported="false" />
        <activity
            android:name=".OnBoarding"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>